<div style="margin-top: 94px;">
    <div style="  margin-left: 38px;" class="  btn btn-success "><a class="text-white" href="/admin/view-brand">All
            Brand</a></div>
    <form class="container " action="/admin/add-brand" method="POST">
        <div style="padding-top: 53px;padding-bottom: 39px; border-radius: 11px; margin-top: 60px;  "
            class="container bg-light">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6">
                    <div><input class="form-control" name="Brand" type="text" placeholder="BRAND"> <br></div>
                    <button style="background: #525252;" class="btn " type="submit">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>